body {
  background-color: #111111;
}

h1 {
  color: white;
}

.row {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.table {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.form-group {
  margin-right: 20px;
}

label {
  margin-right: 10px;
}

form {
  margin: 0 auto;
}
